{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "import",
    "prettier"
  ],
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "jsx": "react",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "prettier/prettier": "error",
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "no-unused-vars": "warn"
  }
}
